* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(30, 30, 30);
}

.slide-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  overflow-x: hidden;
}

.slider-first, .slider-second {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.slider-first {
  animation: slide-left 60s linear infinite;
}

.slider-second {
  animation: slide-right 60s linear infinite;
}

.slider-first img, .slider-second img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 12)); /* Adjust based on the number of images */
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(150px * 12)); /* Adjust based on the number of images */
  }
}