@charset "UTF-8";

html,body{height:100%;}
body{background-color:#5f5e5ef2;/*font-family:'Roboto', sans-serif;*/font-family:CircularSpTitle,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic ProN,Meiryo,MS Gothic;}
.skip{overflow:hidden;position:absolute;width:1px;height:1px;background:0 0;font-size:0!important;color:transparent!important;line-height:0}
a:link,a:visited{text-decoration:none;}
li{list-style-type:none;}
img{max-width:100%;}
:before,:after{content:'';}
.wrapper,.music,.music .container,.music_col{height:100%;}
.music_col{display:flex;-webkit-justify-content:center;justify-content:center;background-color:#ecf0f1;}
.music_col:after{display:table;clear:both;}
._left{display:inline-block;position:relative;width:180px;height:100%;padding:50px 0;}
._left ._left_col{display:flex;flex-direction:column;height:100%;}
._left ._left_col a,._left ._left_col span{display:block;}
.log_stat{position:absolute;bottom:50px;left:0;}
.logo img{width:110px;}
._right{display:inline-block;width:1124px;height:100%;}

.music-app{height:100%;}
.top-line{/* padding:20px 60px; */height:calc(83% - 3px);border:10px solid #f2aa3b;border-radius:10px;background-color:#535760;/* background:linear-gradient(120deg, rgba(72,75,79,1) 0%, rgba(50,63,79,1) 100%); */}
.top-line p{text-align:right;}
.top-line .music_title{padding:7.3rem 0 3.3rem 7rem;font-size:73px;font-weight:600;background:linear-gradient(120deg, rgba(72,75,79,1) 0%, rgba(50,63,79,1) 100%);color:#fff;}

#header{}
#header .site-gnb{display:flex;position:relative;justify-content:space-between;}
#header .site-gnb .site-gnb-list{display:flex;margin:0;font-size:0;/* text-align:right; */}
#header .site-gnb .site-gnb-list .gnb-item{display:inline-block;}
#header .site-gnb .site-gnb-list .gnb-item a{display:block;padding:13px 2.25rem;font-size:17px;font-weight:600;color:#e7ab49;}

.search{display:flex;font-size:0;align-items:center;}
.search:after{display:table;clear:both;}
.search input,.search button,.search select{float:left;padding:3px 0;border:none;font-size:16px;}
.search button{width:30px;height:30px;}
.search input{padding-left:10px;}
.search select{width:87px;height:30px;border:1px solid #efefef;}



.song-list{overflow-y:scroll;height:calc(57% - -2px);background-color:#ffffff;}
.song-list .song-item{position:relative;padding:15px 20px;background-color: #ffffff;z-index: 1;}
.song-list .song-item.active{background-color:#e8f9e7;}
.song-list .song-item.active:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;border: 5px solid #25bd03;z-index: -1;}
.song-list .song-item:after{display:table;clear:both;}
.song-list .song-item + .song-item{border-top:1px solid #c6c6c6;}
.song-list .song-item .song-info{display:flex;float:left;align-items:center;}
.song-list .song-item .song-info .song-details{margin-left:20px;}
.song-list .song-item .song-info .song-details .song-title{font-weight:600;}
.song-list .song-item .song-info .song-details .song-artist{color:#849583;}
.song-list .song-item .song-controls{display:flex;float:right;margin-top:calc(1rem - -9px);}
.song-list .song-item .song-duration{color:#b2a996;}
.song-list .song-item .song-play{border:none;background-color:transparent;color:#d15843;}
.song-list .song-item .song-info img{object-fit:cover;}

.bottom-line{height:calc(17% - -3px);padding:20px 0;border:10px solid #5ecbd0;border-radius:10px;}
.lyrics-controls {display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:space-between;justify-content:space-between;}
.lyrics-label{}
.lyrics-view{width:100px;height:88px;border: none;background-color: #b3b3b3;}
.lyrics-title, .lyrics-prev, .lyrics-play, .lyrics-next, .lyrics-duration {padding:5px;/* border:1px solid #000; */text-align:center;}
.lyrics-prev,.lyrics-play,.lyrics-play,.lyrics-next{border: none;font-size: 22px;}
.lyrics-checkbox input[type="checkbox"] {width:20px;height:20px;}


@media all and (min-width:1400px){
    .music .container{max-width:1480px;}
}